---
BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  AlignCompound: true
  AlignFunctionPointers: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveDeclarations:
  AcrossEmptyLines: true
  AlignCompound: true
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AlignCompound: true
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AlignCaseArrows: true
  AlignCaseColons: true
AlignConsecutiveTableGenBreakingDAGArgColons:
  Enabled: true
  AcrossEmptyLines: true
  AlignCompound: true
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveTableGenCondOperatorColons:
  Enabled: true
  AcrossEmptyLines: true
  AlignCompound: true
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveTableGenDefinitionColons:
  Enabled: true
  AlignCompound: true
  AlignFunctionPointers: true
  PadOperators: true
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BreakAfterAttributes: Never
BreakArrays: false
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
IndentPPDirectives: AfterHash
IndentWidth: 2
IndentWrappedFunctionNames: true
InsertBraces: true
TabWidth: 2
Language: Cpp
